.container-div1{
    margin-left: 13%;
    margin-right: 13%;
    padding: 4vh;
    min-width: 100px;
    margin-top: 30px;
    border-radius: 18px;
}
.meeting-div{
    margin: 2vh;
    padding: 2vh;
    border: 1px solid grey;
    min-height: 150px;
    min-width: 277px;
    max-width: 277px;
    border-radius:18px;
}
.meeting-div:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    background-color: blueviolet;
    color:white
}
.meeting-div:hover a{
    color:black
}
.meeting-title{
    font-size: 20px;
    
}
.meeting-details{
    font-size:15px;
    margin-left: 10px;
}